* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    align-items: center;
}

.bg-light-blue {
background-color: #e6f5ff;
}

.bg-medium-blue {
background-color: #ccebff;
}

.cardFormat {
    height: 290px;
    width: auto;
    padding: 20px;
    border-radius: 10px;
}