* {
  font-family: "Courier New", Courier, monospace;
}

.bg-light-blue {
  background-color: #e6f5ff;
}

.bg-medium-blue {
  background-color: #ccebff;
}

.cardFormat {
  height: 260px;
  width: auto;
  padding: 20px;
  border-radius: 10px;
}
