{% extends 'louslistapp/navbar.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'louslistapp/home_style.css' %}" />

<div class="demo-wrap">
  <img src="{% static 'louslistapp/images/uva.jpeg' %}" class="demo-image" />
  <div class="demo-content">
    <br />
    {% if user.is_authenticated %}
    <h1>Welcome, {{ user.socialaccount_set.all.0.extra_data.name }}!</h1>
    {% else %}
    <h1> Welcome to the new Lou's List! </h1>
    <h1>
      Login to begin viewing classes and building your schedule!
    </h1>
    {% endif %}
  </div>
</div>

{% endblock %}
