{% extends 'louslistapp/navbar.html' %} {% load static %} {%load socialaccount %}
{% block content %}  

<link rel="stylesheet" href="{% static 'louslistapp/general_style.css' %}" />

<div>
  <div class="m-4 text-center">
    <h1>My Friends</h1>
    <h3>Friend Count: {{ account.get_friends_count }}</h3>
    <a class="btn btn-dark text vertical-center" href="{% url 'all-profiles' %}"
      >Add Friends</a
    >
  </div>
  <div class="container">
    <div class="row row-cols-4">
      <div class="d-flex flex-row justify-content-center">
        {% if account.get_friends %} {% for friend in account.get_friends %}
        <div class="p-2 card text-white m-1" style="background-color: black">
          <img
            class="card-img-top"
            src="{{ friend.socialaccount_set.all.0.get_avatar_url }}"
          />
          <div class="card-body text-center">
            <h3 class="card-title">{{friend}}</h3>
            <a
              href="{% url 'profile' friend.id %}"
              class="btn bg-medium-blue btn-sm mb-3 mt-2 w-big"
            >
              View Profile
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <br />
  </div>
</div>
{% else %}
<h3>You have not added any friends.</h3>
{% endif %} 
{% endblock %}
