{% extends "louslistapp/navbar.html" %} {% load socialaccount %}
{% load time_converter %} {% load bootstrap5 %} {% bootstrap_css %}
{% block content %}

<div class="row my-3 p-3 text-center">
  {% if error_message %}
  <h1>{{ error_message }}</h1>
  {% else %}

  {% if actual_user.is_authenticated %}
    {% if actual_user.id == friend_user.id %}
    <h1>Welcome, {{ actual_user.socialaccount_set.all.0.extra_data.name }}!</h1>
    {% else %}
      <h1>Welcome, you are viewing {{ friend_user.socialaccount_set.all.0.extra_data.name }}'s profile!</h1>
    {% endif %}
  {% endif %}
</div>

<div class="row">
  <div class="col">
    <div class="col-md">
      <div class="card text-center mb-3" id="total-classes">
        <div class="card-header">
          <h5 class="card-title">Total Classes</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{total_courses}}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center mb-3" id="total-credits">
        <div class="card-header">
          <h5 class="card-title">Total Credits</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{total_credits}}</h3>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md">
    <div class="card card-body text-center">
      <h2 class="mb-2">My Courses</h2>
      <table class="table table-sm text-center">
        <tr>
          <th>Course</th>
          <th>Professor</th>
          <th>Days Held</th>
          <th>Time Held</th>
          <th>Units</th>
        </tr>
        {% for course in account.get_courses %}
        <tr>
          <td><a href="{% url 'course' course.id %}">{{course.subject}} {{course.catalog_number}}</a></td>
          <td>{{course.prof_name}}</td>
          <td>{{course.days}}</td>
          <td>{{course.start_time | convert_time }} - {{course.end_time | convert_time }}</td>
          <td>{{course.units}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-md">
    <div class="card card-body text-center mt-3">
      <h2 class="col-mb-2"> Comments </h2>
        <ul class="list-group">
          {% if actual_user.id != friend_user.id %}
          <li class="list-group-item">
            <form method="POST" class="form-group row" action="{% url 'comment' friend_user.id %}">
              {% csrf_token %}
              <div class="row justify-content-center d-flex">
                <div class="col-xs-6 col-sm-6 col-md-6">
                <input
                  placeholder="Comment"
                  type="text"
                  name="comment"
                  id="comment"
                  class="form-control"
                  style="width: 50rem"
                /></div>
                <div class="col-xs-4 col-sm-4 col-md-4 justify-content-left">
                {% buttons %}
                  <button type="submit" class="btn btn-dark text"> Comment </button>
                {% endbuttons %}
                  </div>
                </div>
            </form>
          </li>
          {% endif %}


        {% for comment in account.get_comments %}
          <div>{{comment.author}}: {{comment.message}}</div>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}


