{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
{% block content %}

<html>
    <div class = "container"> 
        <br><br>
        <div class="row"> 
            <div class="col-md-5">
              <br><br>
              <h3 class="card-title text-center">{{ course.description }}</h3>
              <a class="card-title text-center" href="/department">Return to Search</a>
            </div> 
            <div class="col-md-7 shadow-lg p-3 mb-5 bg-white rounded">
              <h1 class="my-3">Class Description</h1>
              <p class = "lead">{{ course.description }} class taught by {{ course.prof_name }}.</p>
              <h1 class="my-3">Class Details</h1>
              <p>Waitlist: {{ course.waitlist }}/{{ course.wait_cap }}</p>
              <p>Open seats: {{ course.enrollment_available }}/{{ course.enrollment_total }}</p>
              <p>Days taught: {{ course.days }}</p>
              <p>Location: {{ course.location }}</p>
              </ul>
            </div>
        </div>
    </div>    
</html>

{% endblock %}