{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #eda552"
  >
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Lou's List</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/courses">Course List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/department">Search</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% provider_login_url 'google' %}">Login with Google</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<h1 style="text-align:center; color: #eda552;">UVA Courses List</h1>
<div class="container">
<div class="row">
    {% for i in response %}
        <div class="col-sm-4 mb-4">
            <div class="card text-center mb-3" style="width: 18rem; background-color: #f4c188">
              <div class="card-body">
                <h5 class="card-title">{{i.subject}} {{i.catalog_number}}</h5>
                <p class="card-text">{{i.description}}</p>
                <a href="#" class="btn btn-primary">Show Details</a>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Course Number: {{ i.course_number }}</li>
                <li class="list-group-item">Spots Open: {{i.enrollment_available}} / {{i.class_capacity}}</li>
                <li class="list-group-item">Name: {{ i.instructor.name }}</li>
                <li class="list-group-item">Email: {{ i.instructor.email }}</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>

    {% endfor %}
</body>
</html>