<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Departments</title>
</head>
<body>
    <p class="font-weight-bold">Basic example</p>

      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" filter="true" searchable="search..">
          <option value="" disabled selected>Choose your Department</option>
          {% for i in response %}
          <option value=i>{{i.subject}}</option>
          {% endfor %}
      </select>

    <h1>List of Departments</h1>
    {% for i in response %}
    <strong>{{i.subject}} ,</strong>
    {% endfor %}
</body>
</html>