<h1>Departments: </h1>

<form action="/department/" method="GET">

    <input list="departments" placeholder="Department" type="text" name="q" class="form-control">
    <datalist id="departments">
        {% for department in departments %}
            <option value = "{{ department.subject }}">{{ department.subject }}</option>
        {% endfor %}
    </datalist>

    <button type="submit">Search</button>

</form>

{% if courses %}
    {% for course in courses %}
        <!-- Add styling (maybe card?) -->
        <p>{{ course.description }}</p>
    {% endfor %}
{% endif %}
